.App {
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
}

.Title {
  font-size: 200%;
}

 .Times{
   display: inline;
   margin-left: 10px;
 }

.DeadlineInput{
  font-size: 25px;
  margin: 5px;
}
